body {
    color: blue;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  --tw-bg-opacity: 1;
  background-color: rgba(239, 246, 255, var(--tw-bg-opacity));
  flex-direction: column;
  min-height: 100vh;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));    
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;	
}
